In [9]:
import pandas as pd
df = pd.read_csv('education_search_world.csv')

In [ ]:
# İsimlendirilmemiş sütun veri setindeki satır numarasını belirtir.
# date sütunu verinin ait olduğu tarih bilgisini içerir.
# hits sütunu belirli bir anahtar kelimenin o tarihteki arama hacmini (popülerlik skorunu) belirtir.
# keyword sütunu analiz edilen anahtar kelimeyi ifade eder.
# geo sütunu verinin ait olduğu coğrafi bölgeyi belirtir (bu projede sadece "world" yani dünya geneli olan datalar kullanılmıştır).
# time sütunu verinin kapsadığı zaman aralığını belirtir.
# gprop sütunu, verinin geldiği Google hizmetini belirtir.
# (bu projede "web", "news", "youtube" içerisinden sadece web aramaları incelenmiştir, datada diğer gprop değerleri bulunmamaktadır)
# category sütunu, anahtar kelimenin ait olduğu kategori kodunu gösterir.

In [18]:
print(df.head())

   Unnamed: 0        date hits          keyword    geo                   time  \
0           1  2017-12-01   29  Online Learning  world  2017-12-01 2024-04-30
1           2  2018-01-01   33  Online Learning  world  2017-12-01 2024-04-30
2           3  2018-02-01   34  Online Learning  world  2017-12-01 2024-04-30
3           4  2018-03-01   34  Online Learning  world  2017-12-01 2024-04-30
4           5  2018-04-01   31  Online Learning  world  2017-12-01 2024-04-30

  gprop  category gprop
0   web         0    web
1   web         0    web
2   web         0    web
3   web         0    web
4   web         0    web

In [3]:
print(df.tail())

     Unnamed: 0        date hits            keyword    geo  \
380         381  2023-12-01   <1  online proctoring  world
381         382  2024-01-01   <1  online proctoring  world
382         383  2024-02-01   <1  online proctoring  world
383         384  2024-03-01   <1  online proctoring  world
384         385  2024-04-01   <1  online proctoring  world

                      time gprop  category
380  2017-12-01 2024-04-30   web         0
381  2017-12-01 2024-04-30   web         0
382  2017-12-01 2024-04-30   web         0
383  2017-12-01 2024-04-30   web         0
384  2017-12-01 2024-04-30   web         0

In [ ]:
# Veri setimizde NaN değer bulunmamaktadır.
# 2 sütun Unnamed ve category tam sayı türünde veri içermektedir.
# Diğer 6 sütun ise object türünde veri içermektedir. Hem string hem integer içerebilen sütunlardır.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  385 non-null    int64
 1   date        385 non-null    object
 2   hits        385 non-null    object
 3   keyword     385 non-null    object
 4   geo         385 non-null    object
 5   time        385 non-null    object
 6   gprop       385 non-null    object
 7   category    385 non-null    int64
dtypes: int64(2), object(6)
memory usage: 24.2+ KB

In [28]:
# Hiç null değer bulunmamaktadır.
df.isnull().values.any()

np.False_

In [7]:
df.dtypes

Unnamed: 0     int64
date          object
hits          object
keyword       object
geo           object
time          object
gprop         object
category       int64
dtype: object

In [16]:
# pd.Categorical yöntemi ile parametre olarak verilen sütundaki verileri category veri tipine dönüştürülerek 
# tekrar eden metin verilerini daha verimli depolamak ve işlemleri hızlandırmak amaçlanmaktadır. 
df["gprop"] = pd.Categorical(df.gprop)

print(df["gprop"].dtype)

category

In [17]:
df.head()

,Unnamed: 0,date,hits,keyword,geo,time,gprop,category,gprop
0,1,2017-12-01,29,Online Learning,world,2017-12-01 2024-04-30,web,0,web
1,2,2018-01-01,33,Online Learning,world,2017-12-01 2024-04-30,web,0,web
2,3,2018-02-01,34,Online Learning,world,2017-12-01 2024-04-30,web,0,web
3,4,2018-03-01,34,Online Learning,world,2017-12-01 2024-04-30,web,0,web
4,5,2018-04-01,31,Online Learning,world,2017-12-01 2024-04-30,web,0,web

In [ ]:
df.shape
# Sadece integer olan değişkenler için bu değerleri hesaplayabildik
df.describe()
html_desc = desc.to_html()

       Unnamed: 0  category
count  385.000000     385.0
mean   193.000000       0.0
std    111.284171       0.0
min      1.000000       0.0
25%     97.000000       0.0
50%    193.000000       0.0
75%    289.000000       0.0
max    385.000000       0.0

In [ ]:
# object türünde veri içeren sütunlar için değerler describe metoduyla düzgün hesaplanamadı.
df.describe(include = "all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,385.0,NaN,NaN,NaN,193.0,111.284171,1.0,97.0,193.0,289.0,385.0
date,385,77,2017-12-01,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hits,385,59,<1,67,NaN,NaN,NaN,NaN,NaN,NaN,NaN
keyword,385,5,Online Learning,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN
geo,385,1,world,385,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time,385,1,2017-12-01 2024-04-30,385,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gprop,385,1,web,385,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category,385.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gprop,385,1,web,385,NaN,NaN,NaN,NaN,NaN,NaN,NaN